.card-header-form{
    width: 90%;
    margin: 5% auto ;
    
    /*background: rgb(6,55,97);
    background: -moz-radial-gradient(circle, rgba(6,55,97,1) 0%, rgba(6,55,97,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(6,55,97,1) 0%, rgba(6,55,97,1) 50%, rgba(255,255,255,1) 100%);
    background: radial-gradient(circle, rgba(6,55,97,1) 0%, rgba(6,55,97,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#063761",endColorstr="#ffffff",GradientType=1);*/

    background: rgb(21,189,203);
    background: -moz-radial-gradient(circle, rgba(21,189,203,1) 0%, rgba(21,189,203,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(21,189,203,1) 0%, rgba(21,189,203,1) 50%, rgba(255,255,255,1) 100%);
    background: radial-gradient(circle, rgba(21,189,203,1) 0%, rgba(21,189,203,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15bdcb",endColorstr="#ffffff",GradientType=1);


    color: #fff;
    text-align: center;
    text-transform: capitalize;

}
    a:hover,a:focus{
        text-decoration: none;
        outline: none;
    }
    .panel-group{        
        width: 100%;
    }
    #accordion .panel{
        border: none;
        border-radius: 5px;
        box-shadow: none;
    }
    #accordion .panel-heading{
        padding: 0;
        border: none;
        border-radius: 3px;
        position: relative;
    }
    #accordion .panel-title a{
        display: block;
        padding: 10px 20px;
        margin: 0;
        background: #063761;
        /*background: #15bdcb;*/
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: none;
        border-radius: 5px;
        position: relative;
        margin-bottom: 2px;
    }
    #accordion .panel-title a.collapsed{ border: none; }
    #accordion .panel-title a:before,
    #accordion .panel-title a.collapsed:before{
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        text-align: center;
        font-size: 15px;
        font-weight: 900;
        color: #fff;
        position: absolute;
        top: 10px;
        right: 30px;
        transform: rotate(180deg);
        transition: all .4s cubic-bezier(0.080, 1.090, 0.320, 1.275);
    }
    #accordion .panel-title a.collapsed:before{
        color: rgba(255,255,255,0.5);
        transform: rotate(0deg);
    }
    #accordion .panel-body{
        padding: 15px 15px;
        background: #F7F9F9;
        font-size: 15px;
        color: #000;
        line-height: 28px;
        letter-spacing: 1px;
        border-top: none;
        border-radius: 5px;
        margin: 0;
    }
.btn-vehiculo-01{
    background: #15bdcb;
    color: #fff;
}

.btn-vnt{
    background: #063761;
    color: #fff;
}

.b-vnt-02{
    background: #17d2e2;
}

.centered {
    text-align: center;
  }

  thead input {
    width: 100%;
}
 .centrado-grande {
    text-align: center;
    font-size: 18px;
  }


/* CSS para la tabla de busqueda */
  
body {font-family: Arial;color:#212121;font-size: 0.8em;}

.col-search-input {
    margin-top: 10px;
    display: block;
    width: 100%;
}

.datatable-container
{  
    padding: 20px;
    width:80%;
    margin: 0 auto;
}

tfoot {
    display: table-header-group;
}
table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 10px 5px 6px 10px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #0099cc !important;	
    padding: 0.4em 0.8em;
    border: #eaeaea 1px solid;;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #0099cc !important;
	border-color: #eaeaea !important;
    background-color: #eaeaea !important;
	background:unset;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
	background: unset !important;
	border: #0099cc 1px solid !important;
    background-color: #0099cc !important;
	cursor: default;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #fff;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #f3f3f3; 
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #fff; 
}
table.dataTable thead th, table.dataTable thead td {
	border: 1px solid #ddd;
    border-left: none;
}
table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
    background-color: #f3f3f3;
}
.datatables_length{
	padding-bottom: 15px;
}
table.dataTable{
	border-left:1px solid #ddd;
}

.dataTables_wrapper select,.dataTables_wrapper input 
{
	border:1px solid #ddd;
	padding:0.4em;
}
#tbl-contact_filter {
    margin-bottom: 20px;
}
table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: none;
    border-right: #e0e0e0 1px solid;
    border-bottom: #e0e0e0 1px solid;
}
/* fin de CSS para la tabla  */